body {
    background-color: #232121;
}

.inscriptionDiv form label {
    margin-left: 1em;
    font-size: 2vw;
}

.inscriptionDiv form label input{
    margin-left: 2em;
    height: 1.8em;
    width: 12em;
}